<html lang='en'>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        h1{
            text-align: center;
        }

        body{
            background: url(./static/img/bg.png);
            color:#fff
        }
        .footer{
            position:absolute;
            bottom:0;
            padding-left: 5%;
            color:#666;
        }

    </style>

</head>

<body>
    <h1>AI Composition</h1>
    <div>
        <h3>Memory</h3>
        <audio src = "./static/audio/memory.mp3" id="memory" controls></audio>
    </div>


</body>

</html>